body {
	margin: 0px;
	padding: 0px;
	font-family: helvetica, sans-serif;
	font-size: 14px;
	background: url('images/bg.png') repeat; 
	color: #222222;
}

note {
    background:none repeat scroll 0 0 yellow;
    font-size: 12px;
}

#bgBody{
	background: url('images/vertical-gradient.png') left top repeat-x;
	min-height: 350px;
}

a, a:visited, a:active {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color: #27609b;
	text-decoration: none;
}

a:hover {
	color: #27609b;
	text-decoration: underline;
}

img {
	padding: 0;
	border: 0px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}
	
#container {
	width: 960px;
	margin: 0 auto;	
	padding: 0px;
}

#header {
	width: 958px;
	height: 167px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
/*	background: url('images/blue-bg.gif') left top repeat-x; */
	background: url('images/bg-gradient2.png') left top repeat-y; 
	float: left;
	border-left: 1px solid #b4b9bf;
	border-right: 1px solid #b4b9bf;	
/*	border-left: 1px solid #7fabda;
	border-right: 1px solid #7fabda;*/
}

#header h1 {
	color: #ffffff;
	letter-spacing: -1px;
	font-size: 38px;
	font-weight: normal;
	margin: 30px 0px 0px 30px;
	padding: 0px;
}

#header p {
	margin-top: 0px;
	margin-left: 32px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: left;
	font-size: 16px;
	color: #accbea;
}

#header h1 a, #header h1 a:visited, #header h1 a:active, #header h1 a:hover {
	color: #ffffff;
	font-size: 38px;
	text-decoration: none;
}

#topmenu {
	float: left;
	position: absolute;
	top: 130px;
	padding: 0px 0px 0px 30px;
	margin: 0px;
}

#topmenu ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#topmenu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#topmenu li a, #topmenu li a:visited, #topmenu li a:active {
	display: block;
	color: #222222;
	text-decoration: none;
	background: url('images/blue-br.gif') right top no-repeat;
	float: left;
	margin: 0px 3px 0px 0px;
	padding: 12px 10px 0px 0px;
	min-width: 110px;
	text-align: center;
}


#topmenu li a span, #topmenu li a:visited span, #topmenu li a:active span {
/*	background: url('images/blue-bl.gif') top left no-repeat;
	padding: 12px 15px 11px 25px;*/
	background: url('images/blue-bl.gif') top left no-repeat;
	padding: 12px 15px 11px 25px;
	display:block;
	position:relative;
	margin-top:-12px;
}

#topmenu li a:hover span {
	font-weight: bold;
}


#topmenu li a.highlight, #topmenu li a:visited.highlight, #topmenu li a:active.highlight {
	background: url('images/blue-brh.gif') right top no-repeat;
}

#topmenu li a.highlight span, #topmenu li a:visited.highlight span, #topmenu li a:active.highlight span {
	background: url('images/blue-blh.gif') top left no-repeat;
	font-weight: bold;
}

#topmenu li a.highlight-submenu, #topmenu li a:visited.highlight-submenu, #topmenu li a:active.highlight-submenu {
	background: url('images/gray-brh.gif') right top no-repeat;	
}

#topmenu li a.highlight-submenu span, #topmenu li a:visited.highlight-submenu span, #topmenu li a:active.highlight-submenu span {
	background: url('images/gray-blh.gif') left top no-repeat;	
}

#subheader{
	float: left;
	height: 40px;
	width: 958px;
	background: #f0f0f1;
	border-left: 1px solid #b4b9bf;
	border-right: 1px solid #b4b9bf;
}

#submenu {
	float: left;
/*	position: absolute;*/
	top: 167px;
	left: 700px;
	margin: 0px;
	padding: 0 0 0 18px;
}

#submenu ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#submenu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#submenu li a, #submenu li a:visited, #submenu li a:active {
	display: block;
	color: #222222;
	text-decoration: none;
	background: #f0f0f1;
	float: left;
	/*margin: 0px 3px 0px 3px;*/
	padding: 12px 0px 11px 0px;
	/*min-width: 140px;*/
}


#submenu li a span, #submenu li a:visited span, #submenu li a:active span {
	padding: 12px 20px 11px 20px;
}

#submenu li a:hover span {
	/*font-weight: bold;*/
	text-decoration: underline;
}

#submenu li a.highlight span, #submenu li a:visited.highlight span, #submenu li a:active.highlight span {
	/*font-weight: bold;*/
	text-decoration: underline;
}

#contentcontainer {
	float: left;
	width: 958px;
	background: #ffffff; 
	margin: 0px;
	padding: 20px 0px 0px 0px;
	border-left: 1px solid #b4b9bf;
	border-right: 1px solid #b4b9bf;
}

#content {
	width: 572px;
	float: left;
	display: inline;
	margin: 15px 30px 0px 30px;
	padding: 0px 0px 35px 0px;
	
}


#content p {
	line-height: 130%;
	margin: 12px 0px 12px 0px;
	padding: 0px;
}

#content h2 {
	border-bottom: 1px solid #e7eef5;
}

#content h2, #content h2 a, #content h2 a:visited, #content h2 a:active {
	letter-spacing: -1px;
	font-size: 24px;
	text-decoration: none;
	font-weight: normal;
	color: #27609b;
	margin: 0px;
}

#content h2 a:hover {
	text-decoration: none;
	color: #222222;
}

.entry {
	margin: 0px;	
	padding: 6px 0px 0px 0px;
}

.post {
	margin: 0px;
	padding: 0px 0px 14px 0px;
}

#content p.posted {
	font-size: 14px;
	height: 15px;
	text-align: right;
	color: #6e6e6e;
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0px;
}

.posted a, .posted a:visited, .posted a:active {
	color: #6e6e6e;
}
.posted a:hover {
	text-decoration: underline;
	color: #222222;
}

.posttime {
	float: left;
	background: url('images/icon-post.gif') no-repeat left center;
	padding: 0px 0px 0px 13px;
	margin: 0px;
	color: #6e6e6e;
}

.comments {
	background: url('images/icon-com.gif') no-repeat left center;
	width: 100%;
	text-align: right;
	padding: 0px 0px 0px 16px;
	margin: 0px;
}

#content .tags {
	padding: 0px 0px 0px 18px;
	margin: 12px 0px 12px 0px;
	background: url('images/icon-tag.gif') no-repeat left center;
}

h3 {
	margin: 10px 0px 14px 0px;	
	color: #27609b;
	font-size: 17px;
	font-weight: bold;
}

#commentlist {
	list-style: none;
	margin: 0;
	padding: 0px;
}

#commentlist li {
	margin: 0px;
	padding: 14px 11px 10px 11px;
}

#commentlist .altcolor1 {
	background: #e7eef5;
}

#commentlist .altcolor2 {
	background: #ffffff;
}

#commentlist li p {
	margin-top: 12px;
	margin-bottom: 6px;
	line-height: 130%;
}

#writecomment {
	background: #e7eef5;
	border: 1px solid #b4b9bf;
	padding: 10px 10px 10px 15px;
	margin-top: 20px;
}

#writecomment p {
	margin: 10px;
}

form {
	padding: 0;
	margin: 0;
}

#commentform textarea {
	width: 95%;
	padding: 2px;
	border: 1px solid #b4b9bf;
}
	
#commentform input {
	width: 180px;
	margin: 0px 7px 0px 0px;
	border: 1px solid #b4b9bf;
}
	
#commentform #submit {
	background-color: #ffffff;
	border: 1px solid #b4b9bf;
	color: #222222;
}

blockquote {
	margin: 15px 30px 15px 5px;
	padding-left: 10px;
	border-left: 5px solid #d7d7d7;
	color: #6e6e6e;
}

#content .postpagesnav {
	padding: 15px 5px 5px 5px; 
	margin: 0px; 
	}

#content .postpagesnav .older {
	width:50%;
	float:left;
	}

#content .postpagesnav .newer {
	width: 50%; 
	float: right; 
	text-align:right;
	}


#sidebar {
	width: 275px;
	border-left: 1px solid #e7eef5;
	margin: 11px 0px 0px 0px;
	padding-left: 25px;
	float: left;
}

#sidebar .about {
	background: #e7eef5;
	border: 1px solid #b4b9bf;
	padding: 8px 12px 8px 12px;
}

#sidebar .about h2 {
	margin-top: 10px;
}

#sidebarleft {
	width: 147px;
	margin-right: 11px;
	float: left;
}

#sidebarright {
	width: 147px;
	float: left;
}

#sidebar h2 {
	color: #27609b;
	padding: 0px 0px 1px 0px;
	font-size: 20px;
	border-bottom: 1px solid #e7eef5;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 20px;

}

#sidebar ul {
	list-style: none; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}

#sidebar li {
	margin-left: 0px;
	margin-bottom: 3px;
}

#sidebar ul li ul {
	list-style: none; 
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
}

#sidebar ul li ul li {	
	border-bottom: 1px solid #e7eef5;
	margin-left: 0px;
	padding-bottom: 3px;
	margin-bottom: 12px;
	padding-left: 0px;
}

.sidebar-date{
	color: #27609b;
}

#sidebar ul li ul li a, #sidebar ul li ul li a:visited, #sidebar ul li ul li a:active {
	color: #222222;
}

#sidebar ul li ul li a:hover {
	color: #27609b;
	text-decoration: none;
}

#searchform {
	margin-top: 12px;		
}

#searchfield {
	border: 1px solid #b4b9bf;
	color: #222222;
	width: 200px;
	padding: 1px;
	margin: 1px;
	height: 18px;		
}

#contentb {
	float: left;
	display: inline;
	text-align: center;
	width: 960px;
/*	background: #e7eef5; */
	border-top: 1px solid #b4b9bf;
	margin: 0px;	
	padding: 16px 0px 16px 0px;
}

#contentb p {
	margin: 0px;
	padding: 0px;
}

#sidebar-menu {
	width: 155px;
	/*border-right: 1px solid #e7eef5;
	margin: 0px 0px 11px 0px;
	padding-left: 25px;*/
	float: left;
	margin-top: 0px;
	/*background: #06F;*/
}

#sidebar-menu-border{
	width: 100%;
	float: left;
	border-top: #dddddd 6px solid;
	border-bottom: #dddddd 6px solid;
}

#sidebar-menu-inner-border{
	width: 100%;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
	border-top: #dddddd 2px solid;	
	border-bottom: #dddddd 2px solid;
	background: #fff;
}

#sidebar-menu ul {
	list-style: none;
	line-height: 2.7em;
	margin: 0;
	padding-left: 10px;
}

#sidebar-menu ul li{
	background-image:url(images/big-arrow3.png);
	background-repeat: no-repeat;
	padding-left: 1.6em;
	background-position: 0 13px;
/*	border-bottom: #ccc 1px solid;*/
}


#sidebar-menu ul li a{
	color: #254970;
}

#sidebar-menu ul li a.highlight{
	font-weight: bold;
	text-decoration: underline;
}

#sidebar-menu ul li a:hover{
	font-weight: bold;
	text-decoration: underline;
}


#sidebar-menu ul ul{
	margin-top: -7px;
	list-style: none;
	line-height: 1.5em;
	padding-left: 15px;
}

#sidebar-menu ul ul li{
	background-image:url(images/big-arrow2.png);
	background-repeat: no-repeat;
	padding-left: 1.2em;
	background-position: 0 7px;
}

#sidebar-menu ul ul li a{
	color: #254970;
	font-size: small;
}

#sidebar-menu ul ul li a.highlight{
	font-weight: bold;
	text-decoration: underline;
}

#presentation ul{
	margin-top: 5px;
	list-style:none;
	line-height: 1.2em;
	padding-left: 20px;
}

#presentation ul li{
	padding-top: 8px;
	background-image:url(images/presentation.png);
	background-repeat: no-repeat;
	background-position: 0 12px;
	padding-left: 1.6em;

}

#presentation h3{
	margin-top: 15px;
	margin-bottom: 5px;
}

#reviewing ul{
	margin-top: 5px;
	list-style:none;
	line-height: 1.2em;
	padding-left: 20px;
}

#reviewing ul li{
	padding-top: 8px;
	background-image:url(images/edit.png);
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding-left: 1.8em;

}

#reviewing h3{
	margin-top: 15px;
	margin-bottom: 5px;
}

#organizational ul{
	margin-top: 5px;
	list-style:none;
	line-height: 1.2em;
	padding-left: 20px;
}

#organizational ul li{
	padding-top: 8px;
	background-image:url(images/calendar.png);
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding-left: 1.8em;

}

#organizational h3{
	margin-top: 15px;
	margin-bottom: 5px;
}


#other-act ul{
	margin-top: 5px;
	list-style:none;
	line-height: 1.2em;
	padding-left: 20px;
}

#other-act  ul li{
	padding-top: 8px;
	background-image:url(images/check.png);
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding-left: 1.8em;

}

#other-act  h3{
	margin-top: 15px;
	margin-bottom: 5px;
}
